.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 294px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-2 {
  min-height: 748px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 249px;
  pointer-events: auto;
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-image-2 {
  min-height: 498px;
  pointer-events: auto;
  background-image: url("images/IMG_20210122_205052kopia2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 748px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 661px;
  }

  .u-section-2 .u-image-1 {
    min-height: 205px;
  }

  .u-section-2 .u-image-2 {
    min-height: 411px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 617px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 880px;
  }

  .u-section-2 .u-image-1 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    min-height: 630px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 723px;
  }

  .u-section-2 .u-image-1 {
    min-height: 236px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 473px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 548px;
  }

  .u-section-2 .u-image-1 {
    min-height: 149px;
  }

  .u-section-2 .u-image-2 {
    min-height: 298px;
  }
}.u-section-3 {
  min-height: 738px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 748px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 30px 320px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 748px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 5px 60px 30px;
}

.u-section-3 .u-image-1 {
  object-position: 50% 100%;
  width: 336px;
  height: 667px;
  margin: 36px 89px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 607px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 617px;
  }

  .u-section-3 .u-image-1 {
    height: 629px;
    margin-top: -5px;
    margin-right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1034px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 945px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 799px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 709px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 537px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 446px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 575px;
    margin-right: 0;
  }
}